h1 {
  color :white;
}
body{
  background-color: rgb(17, 93, 128);
}
.main-row {
  margin-top: 30px;
  margin-bottom: 30px;
}
.eaten {
  margin-top: -7px;
  margin-bottom: 17px;
}
.submit-text {
  width: 50%;
}
.submit-button {
  margin-top: 20px;

}